
.DS_Store
.env
.next
.vercel

public/robots.txt
public/sitemap*.xml
.vscode
.cursor

npm-debug.log*
.next/
build/
dist/
.cache/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
payload/public/media/Screenshot From 2026-02-22 16-42-14-300x243.png
payload/public/media/Screenshot From 2026-02-22 16-42-14-500x500.png
payload/public/media/Screenshot From 2026-02-22 16-42-14-600x487.png
payload/public/media/Screenshot From 2026-02-22 16-42-14-900x730.png
payload/public/media/Screenshot From 2026-02-22 16-42-14-1200x630.png
payload/public/media/Screenshot From 2026-02-22 16-42-14.png
