
.DS_Store
.env
.next
.vercel

public/robots.txt
public/sitemap*.xml
.vscode
.cursor

npm-debug.log*
.next/
build/
dist/
.cache/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
